article{
    max-width:550px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:20px;
}
article:hover{
    box-shadow: 2px 1px 5px 0px #000000b8
}
article hr{
    width: 100%;
    background-color: #000;
    height:2px;
}
article h3{
    margin-top:20px;
    margin-bottom:0px;
}
article p{
    margin-top:15px;
}
article footer{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
}
article section.likes{
    display:flex;
}
/* adds a reversed shadow for our buttons on hover */
