*{
    box-sizing: border-box;
}
body{
    background-color: #efefef;
    font-size:16px;
    padding:60px 20px 60px 20px;
}
.wrapper{
    max-width:600px;
    margin: auto;
}
h1{
    display: flex;
    justify-content: center;
}
h1 img{
    max-width:300px;
}
p{
    margin:auto;
    max-width:600px;
}
article{
    max-width:550px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
article hr{
    width: 100%;
    background-color: #000;
    height:2px;
}
article h3{
    margin-top:30px;
    margin-bottom:0px;
}
article p{
    margin-top:15px;
}
article footer{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
}
article section.votes{
    display:flex;
}
article section.votes button{
    display: flex;
    align-items: center;
    height:41px;
    width:105px;

}

section.users{
    display: flex;
    flex-direction: column;
    border:2px solid grey;
    border-radius: 10px;
    margin: 30px auto 0px auto;
    width:80%;
    padding:0px 20px 20px 20px;
}

section.users h2{
    margin: 20px auto 10px auto;
}
section.users form{
    margin: 10px auto 10px auto;
    max-width: 175px;
}
section.users #errors{
    margin: auto;
}